
<div class="row mapping-widget z-depth-2" data-map-id="{{map_id}}" data-map-type="{{type}}">


	<div class="col s2" style="align:center">
			<div class="chip" style="background-color:#A26868!important; color:white; top:5px; position:relative;">
				{{type_title}}
			</div>
	</div>
	<div class="col s9">
		<input type="hidden" name="{{map_id}}_type" value="{{type}}">

		<input type="text" name="{{map_id}}_type_value" class="type-value" value="{{type_value}}"  style="background-color:#eee;padding-left:16px;padding-right:-16px; width: calc(100% - 16px);">
	</div>
	<div class="col s1">
		<a class="btn-floating ghosty enabled right delete-mapping-item" style="margin-right:10px;top:3px;"><i class="material-icons red darken-2">delete</i></a>
	</div>


	{{#if template}}
		{{> (lookup . "template") }}
	{{else}}
		<div class="col s12">
			<textarea class="json5" style="background-color:#eee;height: 10rem;" name="{{map_id}}_json5">{{{params_json5}}}</textarea>
		</div>
	{{/if}}
	

</div>
